*{
    width: 90%;
    margin: 0 auto;
    line-height: 2;
    margin-right: 5%;
    margin-left: 4.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
body{
    border: 20px solid grey;
}

.head{
    margin-top: 2%;
    border: 10px solid darkgray;
    padding-top: 1%;
    padding-bottom: 1%;
}
.head h1{
    text-align: center;
}
.head h2{
    text-align: center;
}
.flex1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body img{
    width: 50%;
    height: 50%;
    padding: 5%;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body p{
    padding: 5%;
}

.footer p{
    text-align: center;
}

h1,h2{
    font-size: 150%;
}

.row1{
    display: flex;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;
}

.proj-img{
    display: flex;
    align-items: center;
    
}

.proj-img img{
    width: 60%;
    margin-left: 15%;
}

.row1 img{
    opacity: .6;
    transition: 0.3s;
    border: 5px groove grey;
}

.row1 img:hover{
   opacity: 1;
}

.row2 img{
    opacity: .6;
    transition: 0.3s;
    border: 5px groove grey;
}

.row2 img:hover{
   opacity: 1;
}

.flex1 a{
    text-decoration: none;
    color: grey;
}

.flex1 a:hover{
    color: black;
}

.body img{
    margin-left: 12%;
}

.first-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.second-about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.third-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.fourth-about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 5%;
}